<div class="brandassets-bg">
    <div class="brandassets-brandassets-container">
        <div class="Container-root Container-maxWidthLg">
            <div class="mt-50"></div>
            <h3 class="Typography-root brandassets-title Typography-h3">Brand Assets</h3>
            <div class="mt-50"></div>
            <h4 class="Typography-root brandassets-content Typography-h4">Our brand’s purpose is translated
                through our branding and designs. We have curated these assets with full instructions on how to properly
                utilise them.</h4>
        </div>
    </div>
</div>