<div class="pressKit-bg">
    <div class="Container-root Container-maxWidthLg">
        <div class="guideline-pressKit-container Grid-spacing-xs-3" id="container">
            <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-3">
                <div class="guideline_pressKit-title">Press Kit</div>
                <hr id="horizon" class="brandassets-horizon">
                <div class="common-card-info-mt guideline_pressKit-content guideline-gap">Please download the relevant files
                    required through the download options provided.<br><br>Any queries or questions, please send us an
                    email.
                </div>
            </div>
            <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-3">
                <div class="guideline_pressKit-card">
                    <div class="guideline_pressKit-card-title">Press Kit</div>
                    <div class="guideline_pressKit-card-content my-20">Contains a full collectiion of our
                        brand logo assets.</div>
                    <a class="Typography-root Link-underlineNone Typography-colorPrimary"
                        href="https://docsend.com/view/3xp5vrdy3p5wwis4">
                        <div class="guideline_pressKit-card-btn">Download Press Kit</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
