<html lang="en-US" class="no-js">

<head>
    <%- include('../../components/head'); %>
    <link href="../../../assets/css/tech_style.css" rel="stylesheet" type="text/css" />
    <script src="../assets/scripts/main_slider.js" defer></script>
</head>

<body>
    <div id="root">
        <div class="commonStyle-self">
            <%- include('../../components/nav.ejs'); %>
            <div class="Main-container">
                <%- include('../../components/explore.ejs'); %>
            </div>
            <%- include('../../components/footer'); %>
        </div>
    </div>
</body>

</html>