.home-hero {
  background: url(/assets/img/backgrounds/hero-bg-dark.png) right bottom no-repeat;
  padding-top: 100px;
  padding-bottom: 50px;
  background-size: cover;
  border-bottom-right-radius: 100px;
}

@media (max-width:599.95px) {
  .home-hero {
    background: url(/assets/img/backgrounds/hero-bg-dark.png) right bottom no-repeat;
    text-align: center;
    padding-bottom: 30px;
    border-bottom-right-radius: 75px;
  }
}

@media (max-width:599.95px) {
  .home-hero-desc {
    text-align: center;
  }
}

.home-hero-desc {
  width: 660px;
  position: relative;
}

.home-hero-desc>h1 {
  color: #FFFFFF;
  white-space: pre-line;
}

.home-hero-desc>p {
  color: #FFFFFF;
  white-space: pre-line;
}

@media (max-width:599.95px) {
  .home-hero-desc {
    width: auto;
  }
}

.home-danaCard {
  margin-top: -32px;
  width: calc(100% + 32px);
  margin-left: -32px;
}

.home-danaCard>.dana-card {
  padding-top: 32px;
  padding-left: 32px;
}

.home-guideCard {
  margin-top: -40px;
  width: calc(100% + 40px);
  margin-left: -40px;
}

.home-guideCard>.guide-card {
  padding-top: 40px;
  padding-left: 40px;
}

.home-hero-title {
  margin: 0;
  font-family: Brandon Grotesque, fantasy;
  font-style: normal;
  font-weight: 700;
  font-size: 2.0625rem;
  line-height: 1.167;
}

@media (min-width:600px) {
  .home-hero-title {
    font-size: 2.5707rem;
  }
}

@media (min-width:900px) {
  .home-hero-title {
    font-size: 2.7849rem;
  }
}

@media (min-width:1200px) {
  .home-hero-title {
    font-size: 3.2134rem;
  }
}

.home-hero-desc-content {
  margin: 0;
  font-family: Museo Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.235;
}

@media (min-width:600px) {
  .home-hero-desc-content {
    font-size: 1.2146rem;
  }
}
