<div class="roadmap-roadmap">
    <div class="roadmap-roadmap-display">
        <video
            src="" preload="auto" autoplay="" loop="">
        </video>
    </div>
    <div class="roadmap-roadmap-container">
        <div class="Container-root Container-maxWidthLg">
            <div class="Grid-container Grid-spacing-xs-2 Grid-align-items-xs-center Grid-reverse">
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-7">
                    <h3 class="Typography-root roadmap-roadmap-title Typography-h3">Roadmap</h3>
                    <p class="Typography-root roadmap-roadmap-content Typography-h4">Ardana is building the first
                        All-in-One Stablecoin Ecosystem Built on Cardano. Learn more about our roadmap below.</p>
                </div>
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-5">
                    <div class="flex"><img src="../../../../assets/logos/roadmap.png" alt="roadmap"
                            width="80%"></div>
                </div>
            </div>
        </div>
        <div class="roadmap-roadmap-actionBar">
            <%- include('../../../components/noscript.ejs'); %>
            <div class="prev-next-btn" onclick="prev()">
                <addr title="Show previous card">
                    <%- include('../../../components/circle_btn.ejs', {btn: 81}); %>
                </addr>
                <img class="roadmap-roadmap-photo" src="../../../../assets/icons/carousel-prev.svg" alt="Show previous card">
            </div>
            <div class="prev-next-btn" onclick="next()">
                <addr title="Show next card">
                    <%- include('../../../components/circle_btn.ejs', {btn: 81}); %>
                </addr>
                <img class="roadmap-roadmap-photo" src="../../../../assets/icons/carousel-next.svg" alt="Show next card">
            </div>
        </div>
    </div>
</div>
