<div class="team-advisor-bg">
    <div class="Container-root Container-maxWidthLg">
        <div class="team-advisor-title">Advisors</div>
        <div class="Grid-container Grid-spacing-xs-5">
            <% let advisors=[ { 
                index: 18,
                avatar: "../../../../assets/avatars/JohnOConnor.png", 
                name: "John O'Connor" ,
                role: "Cardano" , 
                info: "Director of <strong>IOHK</strong> leading operations and projects in Africa.\n\nFormer Head of Strategy/Comms for <strong>Cardano Foundation.</strong>",  
                socials: {
                    linkedin: "https://www.linkedin.com/in/jjtoconnor/" 
                }, 
            }, {
                index: 19,
                avatar: "../../../../assets/avatars/ShunsukeMurasaki.png",
                name: "Shunsuke Murasaki",
                role: "Emurgo",
                info: "Chief executive officer for <strong>EMURGO</strong> Indonesia.\n\n7+ years experience in Asian markets in B2B overseas sales.",
                socials: {
                    linkedin: "https://www.linkedin.com/in/shunsuke-murasaki-942012ba/",
                },
            },
            {
                index: 20,
                avatar: "../../../../assets/avatars/DarrenCamas.png",
                name: "Darren Camas",
                role: "Cardano",
                info: "Former senior advisor to <strong>Emurgo</strong> and strategy consultant for <strong>IOHK.</strong>\n\nFounder of IPOR Labs, blockchain based derivatives software.",
                socials: {
                    linkedin: "https://www.linkedin.com/in/dcamas/",
                },
            },
            {
                index: 21,
                avatar: "../../../../assets/avatars/PedroBatista.png",
                name: "Pedro Batista",
                role: "CBDC",
                info: "<strong>UK Bank of England</strong> review for Central Bank Digital Currencies.\n\nGlobal Head of Payments/Banking for various financial institutions.",
                socials: {
                    linkedin: "https://www.linkedin.com/in/joaopedrobatista/",
                },
            },
            {
                index: 22,
                avatar: "../../../../assets/avatars/JoeriVanGeelen.png",
                name: "Joeri Van Geelen",
                role: "Economics",
                info: "Business advisor at <strong>Prysm Group</strong> DLT economic consulting firm.\n\nBusiness Development advisor at Minterest cross-chain protocol.",
                socials: {
                    linkedin: "https://www.linkedin.com/in/joerivangeelen/",
                },
            },
            {
                index: 23,
                avatar: "../../../../assets/avatars/CalEvans.png",
                name: "Cal Evans",
                role: "Legal",
                info: "Cryptocurrency compliance expert with 50+ ICO/STO contributions.\n\n<strong>British Blockchain Association</strong> board member.",
                socials: {
                    linkedin: "https://www.linkedin.com/in/mrcalevans/",
                },
            },
            {
                index: 24,
                avatar: "../../../../assets/avatars/JoaoSantos.png",
                name: "Joao Santos",
                role: "Venture Capital",
                info: "Senior Principal at Mustard Seed Maze venture capital fund.\n\nMentor at the Catolica Lisbon School of Business and Economics.",
                socials: {
                    linkedin: "https://www.linkedin.com/in/joao-ferrao-dos-santos/",
                },
            },
            ]
            advisors.forEach(function(advisor){ %>
                <%- include('../../../components/team_card.ejs', {card: advisor}) %>
            <% }); %>
        </div>
    </div>
</div>