
<div class="team-intro">
    <div class="team-intro-video">
        <video
            src="https://background.sfo3.digitaloceanspaces.com/team/output.webm" preload="auto" autoplay="" loop="">
        </video>
    </div>
    <div class="mb-10 team-intro-container">
        <div class="Container-root Container-maxWidthLg">
            <div class="Grid-container Grid-reverse Grid-spacing-xs-2 Grid-align-items-xs-center mt-50">
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-7">
                    <h3 class="Typography-root team-intro-title Typography-h3">Ardana has a <br><span>world
                            class</span> team</h3>
                    <h4 class="Typography-root team-intro-content Typography-h4">Our team is comprised of
                        technical talent, early contributors, students and ambassadors of reputable companies and
                        blockchain projects such as Apple, Microsoft, Barclays, Citi Bank, State Street, Mina Protocol,
                        Cardano, the Plutus Pioneers Program and Emurgo Academy.</h4>
                </div>
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-5">
                    <div class="flex"><img src="../../../../assets/logos/members.png" alt="team"
                            width="80%"></div>
                </div>
            </div>
        </div>
    </div>
</div>