<div class="team-member-bg">
    <div class="Container-root Container-maxWidthLg">
        <div class="Grid-container Grid-spacing-xs-5">
            <% let members=[ { 
                    index: 0,
                    avatar: "../../../../assets/avatars/RyanMatovu.png", 
                    name: "Ryan Matovu" ,
                    role: "Founder" , 
                    info: "Serial entrepreneur in B2B/B2C sales and e-commerce.\n\nLeadership positions in various Ethereum based projects.",  
                    socials: {
                        linkedin: "https://www.linkedin.com/in/ryan-matovu-517988203" , 
                        twitter: "https://twitter.com/infinit3booker?t=QBsb3CsDPsTNStkDIdlLgA&s=09" , }, 
                }, 
                { 
                    index: 1,
                    avatar: "../../../../assets/avatars/IssacShapira.png", 
                    name: "Isaac Shapira" ,
                    role: "Chief Technology Officer" , 
                    info: "Founder of Platonic.Systems, a lead functional programming firm.\n\nSenior software developer roles at various leading tech firms.", 
                    socials: { linkedin: "https://www.linkedin.com/in/isaacshapira/" , 
                        github: "https://github.com/Fresheyeball" , },
                }, { 
                    index: 2,
                    avatar: "../../../../assets/avatars/DerekEvans.png", 
                    name: "Derek Evans" ,
                    role: "Chief Operating Officer" , 
                    info: "20+ years in software leading business and government projects.\n\nPrivate trader and fund manager in the financial derivatives market.", 
                    socials: {}, 
                }, {
                    index: 3,
                    avatar: "../../../../assets/avatars/BassamAwad.png", 
                    name: "Bassam Awad, PhD" ,
                    role: "Chief Economist" , 
                    info: "Senior Economist and Head of Risk at the <strong>Central Bank of Jordan.</strong>\n\nMultiple peer-reviewed papers on macro/computational economics.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/bassamrawad/",
                    },
                }, {
                    index: 4,
                    avatar: "../../../../assets/avatars/ScottFranklin.png",
                    name: "Scott Franklin",
                    role: "Head of Strategy",
                    info: "20+ years experience in equity markets on Wall Street.\n\nCapital raising and advisor to multiple blockchain projects.",
                    socials: {},
                }, {
                    index: 5,
                    avatar: "../../../../assets/avatars/NeilTionson.png",
                    name: "Neil Tionson",
                    role: "Head of Design",
                    info: "Marketing coordinator for Five Group Pty Ltd.\n\nWorked with brands such as Cadbury, San Remo.", socials: {
                        linkedin: "https://www.linkedin.com/in/neil-tiongson-a83535142/",
                    },
                }, {
                    index: 6,
                    avatar: "../../../../assets/avatars/ChetanBafna.png",
                    name: "Chetan Bafna",
                    role: "Head of Outreach",
                    info: "Fundraising facilitator to multiple blockchain projects.\n\nLeadership positions in multiple philanthropic organisations.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/chetanbafna",
                    },
                }, {
                    index: 7,
                    avatar: "../../../../assets/avatars/MorganThomas.png",
                    name: "Morgan Thomas",
                    role: "Blockchain Developer",
                    info: "Platonic Systems functional programming tech consultant.\n\nDeveloped algorithmic trading systems using Haskell.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/morgan-thomas-29a923b7/",
                        github: "https://github.com/morganthomas",
                    },
                }, {
                    index: 8,
                    avatar: "../../../../assets/avatars/NicVanDenBroeck.png",
                    name: "Nick Van den Broeck",
                    role: "Blockchain Developer",
                    info: "Masters degree in Theoretical Physics and research intern at <strong>CERN</strong>.\n\nFounder of Tailer AI, bringing AI to the chemical/brewing industries.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/nick-van-den-broeck-860861a3/",
                        github: "https://github.com/CSVdB/",
                    },
                }, {
                    index: 9,
                    avatar: "../../../../assets/avatars/GregorySantini.png",
                    name: "Gregory Santini",
                    role: "Front-end Developer",
                    info: "Senior front-end developer for <strong>Apple</strong> and Evernote.\n\nExperienced web developer and Solidity developer.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/gregory-santini-28a51619a/",
                        github: "https://github.com/elite0226",
                    },
                }, {
                    index: 10,
                    avatar: "../../../../assets/avatars/MarcinBugaj.png",
                    name: "Marcin Bugaj",
                    role: "Blockchain Developer",
                    info: "Senior software developer for <strong>Logitech</strong> and Motorola Solutions.\n\nDesign and implementation of Robotic Process Automation (RPA).",
                    socials: {
                        linkedin: "https://pl.linkedin.com/in/mmbugaj/",
                        github: "https://github.com/Josek-dev",
                    },
                }, {
                    index: 11,
                    avatar: "../../../../assets/avatars/JaimeCasoOnzain.png",
                    name: "Jamie Caso Onzain",
                    role: "Blockchain Developer",
                    info: "<strong>Cardano</strong> ambassador and Cardano stake pool operator.\n\nGenesis Founding Member and tester for <strong>Mina Protocol.</strong>",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/jaime-caso/",
                        github: "https://github.com/jimcase/",
                    },
                }, {
                    index: 12,
                    avatar: "../../../../assets/avatars/AndrzejSwatowski.png",
                    name: "Andrzej Swatowski",
                    role: "Blockchain Developer",
                    info: "Game developer in Unity working on AI,UI and gameplay elements.\n\nMasters Degree in Computer Science from the University of Warsaw.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/andrzejswatowski",
                        github: "https://github.com/swtwsk/",
                    },
                }, {
                    index: 13,
                    avatar: "../../../../assets/avatars/OlegPrutz.png",
                    name: "Oleg Prutz",
                    role: "Blockchain Developer",
                    info: "Data Scientist for Genesys AI ‘Experience as a Service’ company.\n\nExperienced functional programmer and Kaggle competitor.",
                    socials: {
                        github: "https://github.com/prutz1311",
                    },
                }, {
                    index: 14,
                    avatar: "../../../../assets/avatars/EmmaDwyer.png",
                    name: "Emma Dwyer",
                    role: "Writer",
                    info: "Risk analyst at <strong>Citi bank</strong> and AML analyst at <strong>State Street.</strong>\n\n7+ years experience in investment banking and wealth management.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/emma-dwyer-169630a0/",
                    },
                }, {
                    index: 15,
                    avatar: "../../../../assets/avatars/NoamDavidElbaz.png",
                    name: "Noam David Elbaz",
                    role: "Researcher",
                    info: "Crypto portfolio management and DeFi enthusiast.", socials: {},
                }, {
                    index: 16,
                    avatar: "../../../../assets/avatars/EdenOvadia.png",
                    name: "Eden Ovadia",
                    role: "Intern",
                    info: "Full stack software engineer for <strong>Microsoft.</strong>\n\nSoftware and programming, problems solving skills and attention to details.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/eden-ben-ovadia-944053176/",
                    },
                }, {
                    index: 17,
                    avatar: "../../../../assets/avatars/GregNwosu.png",
                    name: "Greg Nwosu",
                    role: "Intern",
                    info: "Big Data and infrastructure engineer for <strong>Barclays</strong> and RBS.\n\nSenior Java developer for <strong>IG Index</strong> online exchange.",
                    socials: {
                        linkedin: "https://www.linkedin.com/in/greg-nwosu/",
                        github: "https://github.com/gregnwosu",
                    },
                },
                ]
                members.forEach(function(member){ %>
                <%- include('../../../components/team_card.ejs', {card: member}) %>
                <% }); %>
        </div>
    </div>
</div>