.brandassets-bg {
    height: 400px;
    position: relative;
    background: url(../../assets/backgrounds/brand.png) top left no-repeat;
}

.brandassets-brandassets-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background: rgba(24, 34, 113, 0.6);
    align-items: center;
}

.brandassets-title {
    line-height: 100%;
}

.brandassets-content {
    width: 50%;
    margin-top: 30px;
    line-height: 25px;
}

.guideline-pressKit-container {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.guideline-bg {
    padding: 100px 0;
    background: #F6F6F6;
}

.guideline_pressKit-title {
    color: #202F9A;
    font-size: 45px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 120.5%;
}

.brandassets-horizon {
    width: 1156px;
    border: none;
    height: 3px;
    margin: 30px 0;
    background: linear-gradient(-90deg, rgba(115, 214, 241, 0) -5.46%, #73D6F1 101.08%);
    border-radius: 10px;
}

.guideline_pressKit-content {
    color: #636060;
    font-size: 14px;
    font-family: Museo Sans;
    line-height: 150%;
}

.guideline_pressKit-card {
    padding: 40px;
    background: #1C2679;
    border-radius: 20px;
}

.guideline-brand {
    margin-bottom: 15px;
}

.guideline-brand>img {
    height: 45px;
}

.guideline_pressKit-card-title {
    color: #FFFFFF;
    font-size: 30px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 110%;
    white-space: pre-line;
}

.guideline_pressKit-card-content {
    color: #FFFFFF;
    font-size: 15px;
    font-family: Museo Sans;
    line-height: 22px;
    white-space: pre-line;
}

.guideline_pressKit-card-btn {
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    font-size: 11px;
    background: linear-gradient(90deg, #5F72FF 0%, #73D6F1 100%);
    text-align: center;
    font-family: Museo Sans;
    font-weight: 700;
    line-height: 100%;
    border-radius: 20px;
}

.pressKit-bg {
    padding: 100px 0;
    background: #FFFFFF;
}

@media (max-width: 599px) {
    .guideline_pressKit-card-content {
        font-size: 16px;
        line-height: 19.2px;
    }

    .pressKit-bg {
        padding: 70px 40px;
    }

    .guideline_pressKit-card-title {
        font-size: 25px;
        line-height: 27.5px;
    }

    .guideline_pressKit-card {
        padding: 30px;
    }

    .guideline-gap {
        margin-bottom: 30px;
    }

    .guideline_pressKit-content {
        font-size: 16px;
        line-height: 18.4px;
    }

    .brandassets-horizon {
        width: 427px;
        margin: 20px 0;
    }

    .brandassets-container {
        padding: 40px;
    }

    .brandassets-content {
        width: 100%;
        margin-top: 15px;
        line-height: 18.4px;
    }

    .guideline-bg {
        padding: 70px 40px;
    }

    .guideline_pressKit-title {
        font-size: 35px;
        line-height: 38.5px;
    }
}
