.team-intro {
    position: relative;
}

.explore video {
    object-fit: cover;
}

.team-intro-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background: url(../../assets/backgrounds/cyan-gradient.png) top -900px right -900px no-repeat, linear-gradient(180deg, rgba(4, 13, 77, 0.7) -43.4%, rgba(50, 3, 111, 0.7) 222.51%);
    align-items: center;
}

.team-intro-title {
    color: #F5FCFE;
    line-height: 100%;
}

.team-intro-title > span {
    color: #73D6F1;
}

.team-intro-content {
    width: 100%;
    margin-top: 30px;
    line-height: 25px;
}

.team-member-bg {
    padding: 100px 0;
    background: url(../../assets/backgrounds/cyan-gradient.png) top -500px left -1000px no-repeat, 
        url(../../assets/backgrounds/cyan-gradient.png) bottom -300px right -1000px no-repeat;
}

.team_card-alignStretch {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.team_card-bg {
    height: 400px;
    padding: 90px 20px 50px;
    position: relative;
    background: #1D277A;
    margin-top: 80px;
    text-align: center;
    border-radius: 10px;
}

.team_card-img {
    top: -10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.team_card-btn {
    position: relative;
    line-height: 0;
}

.MuiBox-root-54 {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.makeStyles-root-51 {
    cursor: pointer;
    display: inline-block;
    z-index: 102;
    position: relative;
    line-height: 0px;
}

.com-card-info {
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    z-index: 101;
    position: absolute;
    box-shadow: rgb(45 59 160) 0px 0px 14px 7px;
    border-radius: 500px;
}

.team_card-photo {
    top: 50%;
    left: 50%;
    width: 115px;
    filter: grayscale(1);
    display: inline-flex;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.team_card-name {
    color: #F5FCFE;
    font-size: 24px;
    font-style: normal;
    font-family: Brandon Grotesque;
    font-weight: 900;
    line-height: 110%;
    margin-bottom: 5px;
}

.team_card-role {
    color: #73D6F1;
    font-size: 18px;
    font-style: normal;
    font-family: Museo Sans;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 2px;
}

.team_card-info {
    color: #F5FCFE;
    opacity: 1;
    font-size: 16px;
    font-style: normal;
    font-family: Museo Sans;
    line-height: 112%;
    white-space: pre-line;
}

.team_card-info > strong {
    font-weight: 900;
}

.team_card-socials {
    left: 50%;
    width: 50%;
    bottom: 50px;
    display: flex;
    opacity: 1;
    position: absolute;
    transform: translate(-50%, 0%);
    visibility: visible;
    align-items: center;
    justify-content: space-around;
}

.team_card-socials > a {
    display: flex;
}

.team_card-socials > a > img {
    width: 25px;
    max-width: max-content;
}

.team-advisor-bg {
    padding: 0px 20px 100px 20px;
    background: url(../../assets/backgrounds/cyan-gradient.png) top -300px left -1000px no-repeat, 
        url(../../assets/backgrounds/cyan-gradient.png) bottom -300px right -1000px no-repeat;
}

.team-advisor-title {
    color: #73D6F1;
    margin: 30px 0 100px;
    font-size: 60px;
    text-align: center;
    font-family: Brandon Grotesque;
    font-weight: bold;
    line-height: 100%;
}

.team-intro-video {
    width: 100%;
    height: 600px;
}

.team_card-expansionBtn{
    display: none;
}

@media (max-width: 599px) {
    .team-intro-video {
        width: unset;
        height: 600px;
    }

    .team-intro-container {
        text-align: center;
    }

    .team-intro-content {
        padding: 0px 10px;
        margin-top: 15px;
        line-height: 18.4px;
    }

    .team-member-bg {
        padding: 20px 0;
    }

    .Grid-spacing-xs-5 {
        width: calc(100% + 16px);
        margin: -8px;
    }
    .Grid-spacing-xs-5 > .Grid-item {
        padding: 8px;
    }

    .team_card-bg {
        padding: 50px 10px 40px;
        transition: all .2s;
    }
    .team_card-bg.collapsed {
        height: 180px;
    }

    .team_card-photo {
        width: 60px;
    }

    .team_card-name {
        font-size: 18px;
    }

    .team_card-role {
        font-size: 16px;
    }

    .team_card-info.hide {
        opacity: 0;
    }
    .team_card-info {
        font-size: 16px;
        line-height: 18.4px;
    }

    .team_card-socials.hide {
        opacity: 0;
        visibility: hidden;
    }
    .team_card-socials {
        width: 80%;
        bottom: 40px;
    }

    .team_card-expansionBtn {
        display: block;
        left: 50%;
        bottom: 0;
        position: absolute;
        transform: translate(-50%, 50%);
    }

    .team_card-collapseBtn {
        display: block;
        left: 50%;
        bottom: 0;
        position: absolute;
        transform: translate(-50%, 50%);
    }

    .team-advisor-bg {
        padding: 30px 0px 50px;
        background: none;
    }

    .team-advisor-title {
        font-size: 35px;
        margin-bottom: 0px;
    }

}