@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
/* @import url(//db.onlinewebfonts.com/c/6cec834e2e8f2e4206567ed75e1281d4?family=Brandon+Grotesque+Bold); */
/* @import url(//db.onlinewebfonts.com/c/daaf7e1dffe4ec230866bb0ad8c7c245?family=Museo+Sans+300); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css");

@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 300"),
    url("./assets/font/Museo Sans/MuseoSans_300.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 500"),
    url("./assets/font/Museo Sans/MuseoSans_500.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 700"),
    url("./assets/font/Museo Sans/MuseoSans_700.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 900"),
    url("./assets/font/Museo Sans/MuseoSans_900.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local("Brandon Grotesque Bold"),
    url("./assets/font/Brandon-Grotesque-Font-Family/brandon-grotesque-bold-regular.ttf")
      format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: local("Brandon Grotesque Light"),
    url("./assets/font/Brandon-Grotesque-Font-Family/brandon-grotesque-light.otf")
      format("opentype");
  font-weight: 300;
}

* {
  transition: all 0.2s ease-in;
}

.hamburger-react > div {
  height: 5px !important;
  border-radius: 5px;
}

.carousel-inner {
  position: relative;
  max-height: 300px;
  height: 300px;
}

.carousel-item {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  top: 112px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
}

.carousel-item.visible {
  opacity: 1;
}

.carousel-item.active {
  font-size: 45px;
  text-align: left;
  font-weight: 900;
  color: white;
}

.carousel-item.before {
  background: -webkit-linear-gradient(-90deg, #ffffff, #ffffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-item.after {
  background: -webkit-linear-gradient(90deg, #ffffff, #ffffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
