@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url(//db.onlinewebfonts.com/c/6cec834e2e8f2e4206567ed75e1281d4?family=Brandon+Grotesque+Bold);
@import url(//db.onlinewebfonts.com/c/daaf7e1dffe4ec230866bb0ad8c7c245?family=Museo+Sans+300);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css");

/* @font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 300"),
    url("./assets/font/MuseoSans_300_Italic.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  src: local("Brandon Grotesque Bold"),
    url("./assets/font/Brandon Grotesque Bold Regular.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
} */

/* html {
  font-family: "Museo Sans";
} */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .hamburger-react {
  height: 58px
} */

.hamburger-react > div {
  height: 5px !important;
  border-radius: 5px;
}

/* animation */
@keyframe fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframe fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
