<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="X-XSS-Protection" content="1;mode=block" />
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin" />
<meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
<meta http-equiv="Content-Security-Policy"
  content="default-src 'none'; script-src 'self'; style-src 'self'; img-src 'self'; font-src 'self';">
  
<meta name="theme-color" content="#000000">
<meta name="description"
  content="Ardana is a decentralized exchange stable asset liquidity pool and on-chain asset backed stablecoin protocol built on Cardano.">

<title>Ardana App</title>

<link rel="icon" href="../../../public/favicon.ico">

<link href="../../../assets/css/common.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/modal.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/font.css" rel="stylesheet" type="text/css" />

<script src="../assets/js/sticky.js" defer></script>
<script src="../assets/js/modal.js" defer></script>
