<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#000000">
<meta name="description"
  content="Ardana is a decentralized exchange stable asset liquidity pool and on-chain asset backed stablecoin protocol built on Cardano.">

<title>Ardana App</title>

<link rel="icon" href="../../../public/favicon.ico">

<link href="../../../assets/css/common.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/font.css" rel="stylesheet" type="text/css" />
