<div id="modal" role="presentation" class="modal-box hidden">
  <div aria-hidden="true" class="modal-bg"></div>
  <div tabindex="0" data-test="sentinelStart"></div>
  <div class="modal-container" role="presentation" tabindex="-1">
    <div class="dialog" role="dialog" aria-describedby="alert-dialog-description" aria-labelledby="alert-dialog-title">
      <div class="dialog-box">
        <button class="close-btn" tabindex="0" type="button">
          <img src="../../assets/img/svgs/close.svg" alt="close">
          <span></span>
        </button>
        <div class="dialog-content mt-10">
          <h3 class="title">What do you want to do with your ETH?</h3>
          <h5 class="label">Multiply my ETH</h5>
          <h6 class="content">Create a Multiply position and get up to 3.22x exposure on your ETH.</h6>
          <button class="multi-btn" tabindex="0" type="button">
            <h5>Myltiply ETH</h5>
            <span></span>
          </button>
          <div class="divider"></div>
          <h5 class="label">Borrow against my ETH</h5>
          <h6 class="content">Borrow up to 50000 DAI for every $100,000 worth of ETH.</h6>
            <button class="borrow-btn" tabindex="0" type="button">
            <h5>Borrow against ETH</h5>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div tabindex="0" data-test="sentinelEnd"></div>
</div>