<div class="nav">
  <div class="container">
    <div class="nav-container">
      <div class="flex items-center">
        <div class="flex items-center nav-logo mr-30">
          <img src="../../assets/img/DUSD-LOGO-WHITE.png" alt="">
        </div>
        <div class="nav-themeBar">
          <img src="../../assets/img/svgs/sun-light.svg" alt="">
          <img src="../../assets/img/svgs/moon-light.svg" alt="">
        </div>
      </div>
      <div class="nav-menuBar flex items-center">
        <div class="menu flex items-center">
          <div>
            <h5 class="nav-menuBar-menu-font">Your
              vaults</h5>
          </div>
          <div>
            <h5 class="nav-menuBar-menu-font">Open
              a new vault</h5>
          </div>
        </div>
        <div class="ml-20">
          <div class="nav-wallet">
            <h6 class="nav-wallet-address nav-wallet-address-font">
              0x2ddA6C07ED3671F8d2f19B317e91e4DFD43f6621</h6>
            <div class="nav-balance flex items-center">
              <div class="wallet"><img src="../../../assets/img/svgs/wallet.svg" alt="">
              </div>
              <h6 class="amount nav-wallet-address-font">
                0.23</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
