<div class="nav" id="navMenu">
  <div class="container">
    <div class="nav-container">
      <div class="flex items-center">
        <div class="flex items-center nav-logo mr-30">
          <a href="/">
            <img src="../../assets/img/DUSD-LOGO-WHITE.png" alt="" loading="lazy" decoding="async">
          </a>
        </div>
        <div class="nav-themeBar">
          <img src="../../assets/img/svgs/sun-light.svg" alt="" loading="lazy" decoding="async">
          <img src="../../assets/img/svgs/moon-light.svg" alt="" loading="lazy" decoding="async">
        </div>
      </div>
      <div class="nav-menuBar flex items-center">
        <div class="menu flex items-center">
          <div>
            <a href="/owner">
              <h5 class="nav-menuBar-menu-font">Your
                vaults</h5>
            </a>
          </div>
          <div>
            <a href="/vaults/list">
              <h5 class="nav-menuBar-menu-font">Open
                a new vault</h5>
            </a>
          </div>
        </div>
        <div class="ml-20">
          <div class="nav-wallet">
            <h6 class="nav-wallet-address nav-wallet-address-font">
              0x2ddA6C07ED3671F8d2f19B317e91e4DFD43f6621</h6>
            <div class="nav-balance flex items-center">
              <div class="wallet">
                <img src="../../../assets/img/svgs/wallet.svg" alt="" loading="lazy" decoding="async">
              </div>
              <h6 class="amount nav-wallet-address-font">
                0.23</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>