<div class="home-hero">
  <div class="container home-hero-desc">
    <div class="flex flex-row flex-wrap w-full items-center">
      <div class="contents-box">
        <div class="m-0">
          <div class="home-hero-desc">
            <h1 class="home-hero-title">
              Collateral assets can be leveraged
              to mint Ardana Stablecoins.</h1>
            <p class="home-hero-desc-content">
              Open a Ardana Stablecoin Vault, deposit your
              collateral, and generate dUSD against it.</p>
          </div>
          <div class="cardano-bar mt-30 mb-20">
            <% let images = ['cardano', 'cardano', 'cardano', 'cardano', 'cardano', 'cardano', 'cardano'] %>
            <% images.forEach(function(image) { %>
            <img src="../../assets/img/coins/<%=image%>.png" alt="" loading="lazy" decoding="async">
            <% }); %>
          </div>
        </div>
      </div>
      <div class="contents-box">
        <div class="flex justify-center">
          <img src="../../assets/img/backgrounds/BG-GRAPHIC.png" alt=""
          loading="lazy" decoding="async" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
