<div class="myvault-hero">
  <div class="container myvault-hero-desc">
    <div class="flex flex-row flex-wrap w-full items-center justify-center">
      <div class="contents-box">
        <div class="m-0">
          <div class="relative">
            <h1 class="myvault-hero-title flex justify-center">
              Your Vaults</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
