<div class="vault-box">
  <div class="container">
    <div class="vault-box-bg">
      <div class="container">
        <div class="flex flex-wrap w-full flex-row">
          <table>
            <thead>
              <tr>
                <th><abbr title="Number">No.</abbr> of vaults</th>
                <th>Total Locked</th>
                <th>Total Debt</th>
                <th>Vaults at risk</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2</td>
                <td>$15,588.36</td>
                <td>6,165.18 DAI</td>
                <td>0</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>yifi1</td>
              </tr>
            </tfoot>
          </table>
          <!-- <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-3 css-10voxkt-MuiGrid-root">
            <h5 class="MuiTypography-root MuiTypography-h5 css-15udzwc-MuiTypography-root"><abbr
                title="Number">No.</abbr> of vaults</h5>
            <h1 class="MuiTypography-root MuiTypography-h1 css-jwybch-MuiTypography-root">2</h1>
          </div>
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-3 css-10voxkt-MuiGrid-root">
            <h5 class="MuiTypography-root MuiTypography-h5 css-15udzwc-MuiTypography-root">Total Locked</h5>
            <h1 class="MuiTypography-root MuiTypography-h1 css-jwybch-MuiTypography-root">$15,588.36</h1>
          </div>
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-3 css-10voxkt-MuiGrid-root">
            <h5 class="MuiTypography-root MuiTypography-h5 css-15udzwc-MuiTypography-root">Total Debt</h5>
            <div class="MuiBox-root css-x1sij0">
              <div class="MuiBox-root css-0">
                <h1 class="MuiTypography-root MuiTypography-h1 css-jwybch-MuiTypography-root">6,165.18</h1>
              </div>
              <div class="MuiBox-root css-1y6ic72">
                <h5 class="MuiTypography-root MuiTypography-h5 css-15udzwc-MuiTypography-root"> DAI</h5>
              </div>
            </div>
          </div>
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-3 css-10voxkt-MuiGrid-root">
            <h5 class="MuiTypography-root MuiTypography-h5 css-15udzwc-MuiTypography-root">Vaults at risk</h5>
            <h1 class="MuiTypography-root MuiTypography-h1 css-jwybch-MuiTypography-root">0</h1>
          </div> -->
        </div>
        <!-- <div class="makeStyles-divider-122 MuiBox-root css-0"></div>
        <div class="MuiBox-root css-1wcba0h">
          <div class="makeStyles-vault-123 MuiBox-root css-hn05yd">
            <div class="coin MuiBox-root css-18n267n"><img src="/static/media/yifi1.808c7c24.svg" alt=""></div>
            <div class="MuiBox-root css-j7qwjs">
              <h5 class="MuiTypography-root MuiTypography-h5 name css-15udzwc-MuiTypography-root">yifi1</h5>
              <h6 class="MuiTypography-root MuiTypography-h6 rate css-1folype-MuiTypography-root">88.49%</h6>
            </div>
          </div>
          <div class="makeStyles-vault-123 MuiBox-root css-hn05yd">
            <div class="coin MuiBox-root css-18n267n"><img src="/static/media/yifi2.808c7c24.svg" alt=""></div>
            <div class="MuiBox-root css-j7qwjs">
              <h5 class="MuiTypography-root MuiTypography-h5 name css-15udzwc-MuiTypography-root">yifi2</h5>
              <h6 class="MuiTypography-root MuiTypography-h6 rate css-1folype-MuiTypography-root">11.51%</h6>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>