<div class="vault-box">
  <div class="container">
    <div class="vault-box-bg">
      <div class="container">
        <div class="flex flex-wrap w-full flex-row">
          <table>
            <thead>
              <tr>
                <th><abbr title="Number">No.</abbr> of vaults</th>
                <th>Total Locked</th>
                <th>Total Debt</th>
                <th>Vaults at risk</th>
              </tr>
            </thead>
            <tbody class="myvault-hero-title mt-20 mb-20">
              <tr>
                <td>2</td>
                <td>$15,588.36</td>
                <td>6,165.18 <span>Dai</span></td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          <div class="table-border"></div>
          <div class="flex mt-20">
            <div class="flex items-center mr-20">
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>