<div class="home-coin">
    <div class="home-coin-bg">
        <img src="../../../../assets/backgrounds/vecteezy.png" alt="bg" />
    </div>
    <div class="home-coin-container">
        <div class="Container-root Container-maxWidthLg">
            <div class="Grid-container Grid-spacing-xs-2 Grid-align-items-xs-center">
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-sm-6">
                    <div class="home-coin-logo">
                        <img alt="stablecoin" src="../../../../assets/logos/stablecoin-logo.png" width="80%" />
                    </div>
                </div>
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-sm-6">
                    <h3 class="Typography-root title-color-lh Typography-h3">
                        Stablecoin
                    </h3>
                    <p class="Typography-root home-coin-content Typography-h4 home-btn-mt">
                        <span>dUSD</span> is verifiably backed by on-chain
                        collateral and will enable borrowers to take leverage on
                        their ADA or other supported assets.
                    </p>
                    <% let btn = {width: 166, name: "Coming Soon"} %>
                    <%- include('../../../components/button.ejs', {btn: btn}) %>
                </div>
            </div>
        </div>
    </div>
</div>
