<div class="home-roadmap">
    <div class="home-roadmap-video">
        <video src="https://background.sfo3.digitaloceanspaces.com/team/output.webm" preload="auto" autoplay="" loop=""></video>
    </div>
    <div class="home-roadmap-container">
        <div class="Container-root Container-maxWidthLg">
            <div class="Grid-container Grid-spacing-xs-2 Grid-align-items-xs-center">
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-sm-6">
                    <h3 class="Typography-root title-color-lh Typography-h3">
                        Roadmap
                    </h3>
                    <p class="Typography-root home-roadmap-content Typography-h4 home-btn-mt">
                        Ardana is building the first All-in-One Stablecoin
                        Ecosystem Built on Cardano. Learn more about our roadmap
                        below.
                    </p>
                    <a class="Typography-root Link-underlineHover Typography-colorPrimary"
                        href="/roadmap">
                        <% let roadmapBtn = {width: 166, name: "View Roadmap"} %>
                        <%- include('../../../components/button.ejs', {btn: roadmapBtn}) %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
