<div class="home-investor-bg">
    <div class="Container-root Container-maxWidthMd">
        <h3 class="Typography-root home-investor-title Typography-h3">
            Investors
        </h3>
        <div class="home-investor-logos">
            <% let logos = [
                {
                    href: "https://www.threearrowscap.com/select-investments/",
                    img_src: "../../../../assets/logos/three-arrow-capital.svg",
                }, {
                    href: "https://cfund.vc/",
                    img_src: "../../../../assets/logos/cfund.svg",
                }, {
                    href: "https://ascensiveassets.com/",
                    img_src: "../../../../assets/logos/ascentive-assets.svg",
                }, {
                    href: "https://kronosresearch.com/",
                    img_src: "../../../../assets/logos/kronos.svg",
                }, {
                    href: "https://www.morningstar.ventures/",
                    img_src: "../../../../assets/logos/morning-star.svg",
                }, {
                    href: "https://www.mechanism.capital/",
                    img_src: "../../../../assets/logos/mechanism-capital.svg",
                }, {
                    href: "https://qcp.capital/",
                    img_src: "../../../../assets/logos/QCP-capital.svg",
                }, {
                    href: "https://www.iangels.com/",
                    img_src: "../../../../assets/logos/angels.svg",
                }
            ] %>
            <% logos.forEach(function(logo){ %>
                <%- include('../../../components/logo.ejs', {logo: logo}) %>
            <% }); %>
            <% let srcs = [
                "../../../../assets/logos/david-post.svg",
                "../../../../assets/logos/taiyang-zhang.svg",
                "../../../../assets/logos/justin-sun.svg"
            ] %>
            <% srcs.forEach(function(src){ %>
                <div class="brandLogo-flex">
                    <img class="logo-img" src="<%=src%>" alt="" />
                </div>
            <% }); %>
        </div>
    </div>
</div>