<div class="news-frame-padding">
    <div class="Container-root Container-maxWidthLg">
        <div class="Grid-container Grid-justify-content-xs-center">
            <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-12">
                <div class="Grid-container Grid-reverse Grid-spacing-xs-3">
                    <div class="Grid-container Grid-item Grid-grid-xs-12 Grid-grid-md-6">
                        <div class="news-news-display">
                            <h3 class="Typography-root news-news-title Typography-h3">Ardana <span>News</span>
                            </h3>
                            <p class="Typography-root Typography-h4 mt-10">For the latest news, make sure to follow
                                Ardana’s social media accounts and keep checking back in to the Ardana platform.</p>
                            <div class="socialBar-padding mt-30">
                                <%- include('../../../components/socialIcon_bar.ejs'); %>
                            </div>
                        </div>
                    </div>
                    <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-6">
                        <div class="text-center"><img src="../../../../assets/logos/news-hero.png"
                                alt="" width="100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
