<div class="py-50">
    <div class="Container-root Container-maxWidthLg">
        <div class="Grid-container">
            <div class="Grid-item Grid-grid-xs-12">
                <div class="news-title-display">
                    <h3 class="Typography-root news-twitter-title Typography-h3"><small>Ardana on
                            <span>Twitter</span></small></h3>
                    <div class="display-status-960">
                        <a class="Typography-root Link-underlineNone news-badge Typography-colorPrimary"
                            href="https://twitter.com/ardanaproject" target="_blank">
                            <div class="Typography-root Typography-button">Follow Ardana on Twitter</div>
                            <div class="news-badge-position"><svg width="26" height="21" viewBox="0 0 26 21"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M25.5 2.40469C24.5703 2.8125 23.5797 3.08281 22.5469 3.21406C23.6094 2.57969 24.4203 1.58281 24.8016 0.38125C23.8109 0.971875 22.7172 1.38906 21.5516 1.62188C20.6109 0.620313 19.2703 0 17.8078 0C14.9703 0 12.6859 2.30313 12.6859 5.12656C12.6859 5.53281 12.7203 5.92344 12.8047 6.29531C8.54375 6.0875 4.77344 4.04531 2.24062 0.934375C1.79844 1.70156 1.53906 2.57969 1.53906 3.525C1.53906 5.3 2.45312 6.87344 3.81562 7.78437C2.99219 7.76875 2.18438 7.52969 1.5 7.15313C1.5 7.16875 1.5 7.18906 1.5 7.20937C1.5 9.7 3.27656 11.7688 5.60625 12.2453C5.18906 12.3594 4.73438 12.4141 4.2625 12.4141C3.93438 12.4141 3.60312 12.3953 3.29219 12.3266C3.95625 14.3563 5.84063 15.8484 8.08125 15.8969C6.3375 17.2609 4.12344 18.0828 1.72656 18.0828C1.30625 18.0828 0.903125 18.0641 0.5 18.0125C2.77031 19.4766 5.46094 20.3125 8.3625 20.3125C17.7938 20.3125 22.95 12.5 22.95 5.72812C22.95 5.50156 22.9422 5.28281 22.9312 5.06563C23.9484 4.34375 24.8031 3.44219 25.5 2.40469Z"
                                        fill="#F5FCFE"></path>
                                </svg></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-100">
            <div class="Grid-container Grid-justify-content-xs-center">
                <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-9">
                    <div class="Grid-container Grid-reverse Grid-spacing-xs-3">
                        <div class="Grid-container Grid-item Grid-grid-xs-12 Grid-grid-md-6">
                            <div class="news-twitter-main-display">
                                <h3 class="Typography-root news-twitter-h3 Typography-h3">Stay
                                    <span>updated.</span>
                                </h3>
                                <div class="mb-10"></div>
                                <h4 class="Typography-root Typography-h4">Never miss a chance to connect! For the
                                    live news and updates, follow Ardana on twitter.</h4>
                                <div class="mb-30"></div><a
                                    class="Typography-root Link-underlineNone Typography-colorPrimary"
                                    href="https://twitter.com/ardanaproject" target="_blank">
                                    <div class="button">
                                        <div class="button-effect"><svg width="251"
                                                height="46">
                                                <defs>
                                                    <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                                                        <stop offset="0" stop-color="#5F72FF"></stop>
                                                        <stop offset="1" stop-color="#73D6F1"></stop>
                                                    </linearGradient>
                                                </defs>
                                                <g fill="none">
                                                    <rect x="3" y="3" width="245" height="40" rx="20"
                                                        stroke="url(#grad1)" stroke-width="3"></rect>
                                                </g>
                                            </svg>
                                            <div class="common-children"><svg width="15px"
                                                    height="21" viewBox="0 0 26 21" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M25.5 2.40469C24.5703 2.8125 23.5797 3.08281 22.5469 3.21406C23.6094 2.57969 24.4203 1.58281 24.8016 0.38125C23.8109 0.971875 22.7172 1.38906 21.5516 1.62188C20.6109 0.620313 19.2703 0 17.8078 0C14.9703 0 12.6859 2.30313 12.6859 5.12656C12.6859 5.53281 12.7203 5.92344 12.8047 6.29531C8.54375 6.0875 4.77344 4.04531 2.24062 0.934375C1.79844 1.70156 1.53906 2.57969 1.53906 3.525C1.53906 5.3 2.45312 6.87344 3.81562 7.78437C2.99219 7.76875 2.18438 7.52969 1.5 7.15313C1.5 7.16875 1.5 7.18906 1.5 7.20937C1.5 9.7 3.27656 11.7688 5.60625 12.2453C5.18906 12.3594 4.73438 12.4141 4.2625 12.4141C3.93438 12.4141 3.60312 12.3953 3.29219 12.3266C3.95625 14.3563 5.84063 15.8484 8.08125 15.8969C6.3375 17.2609 4.12344 18.0828 1.72656 18.0828C1.30625 18.0828 0.903125 18.0641 0.5 18.0125C2.77031 19.4766 5.46094 20.3125 8.3625 20.3125C17.7938 20.3125 22.95 12.5 22.95 5.72812C22.95 5.50156 22.9422 5.28281 22.9312 5.06563C23.9484 4.34375 24.8031 3.44219 25.5 2.40469Z"
                                                        fill="#F5FCFE"></path>
                                                </svg>
                                                <div class="Typography-root Typography-button"
                                                    style="line-height: 0; margin-left: 10px;">Follow us on Twitter
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-border"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-6">
                            <div class="text-center"><img src="../../../../assets/backgrounds/twitter.png"
                                    alt="twitter" width="100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="display-status-600">
            <a class="Typography-root Link-underlineNone news-badge Typography-colorPrimary"
                href="https://twitter.com/ardanaproject" target="_blank">
                <div class="Typography-root Typography-button">Follow Ardana on Twitter</div>
                <div class="news-badge-position">
                    <svg width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M25.5 2.40469C24.5703 2.8125 23.5797 3.08281 22.5469 3.21406C23.6094 2.57969 24.4203 1.58281 24.8016 0.38125C23.8109 0.971875 22.7172 1.38906 21.5516 1.62188C20.6109 0.620313 19.2703 0 17.8078 0C14.9703 0 12.6859 2.30313 12.6859 5.12656C12.6859 5.53281 12.7203 5.92344 12.8047 6.29531C8.54375 6.0875 4.77344 4.04531 2.24062 0.934375C1.79844 1.70156 1.53906 2.57969 1.53906 3.525C1.53906 5.3 2.45312 6.87344 3.81562 7.78437C2.99219 7.76875 2.18438 7.52969 1.5 7.15313C1.5 7.16875 1.5 7.18906 1.5 7.20937C1.5 9.7 3.27656 11.7688 5.60625 12.2453C5.18906 12.3594 4.73438 12.4141 4.2625 12.4141C3.93438 12.4141 3.60312 12.3953 3.29219 12.3266C3.95625 14.3563 5.84063 15.8484 8.08125 15.8969C6.3375 17.2609 4.12344 18.0828 1.72656 18.0828C1.30625 18.0828 0.903125 18.0641 0.5 18.0125C2.77031 19.4766 5.46094 20.3125 8.3625 20.3125C17.7938 20.3125 22.95 12.5 22.95 5.72812C22.95 5.50156 22.9422 5.28281 22.9312 5.06563C23.9484 4.34375 24.8031 3.44219 25.5 2.40469Z"
                            fill="#F5FCFE">
                        </path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>