<div class="button" role="button">
    <div class="button-display button-effect">
        <svg width="<%=btn.width%>" height="46">
            <g fill="none">
                <rect x="3" y="3" width="<%=btn.width - 6%>" height="40" rx="20" stroke="url(#BlueCyan)"
                    stroke-width="3"></rect>
            </g>
        </svg>
        <div class="button-label">
            <%=btn.name%>
        </div>
    </div>
    <div class="button-border"></div>
</div>
