<div class="button">
    <div class=" button-effect">
        <svg class="svg-circle-<%=btn.size%>">
            <g fill="none">
                <rect x="3" y="3" stroke="url(#BlueCyan)" rx="<%=btn.rx%>" stroke-width="3"></rect>
            </g>
        </svg>
    </div>
    <div class="button-border"></div>
</div>
