<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta http-equiv="X-XSS-Protection" content="1;mode=block" />
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin" />
<meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
<meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; script-src 'self'; style-src 'self'; img-src 'self'; font-src 'self';">

<link rel="icon" href="../../assets/logos/favicon.ico" />
<meta name="theme-color" content="#235DF4" />
<meta name="description"
    content="Ardana is a decentralized exchange stable asset liquidity pool and on-chain asset backed stablecoin protocol built on Cardano." />
<title>Ardana App</title>

<link href="../../assets/css/common_style.css" rel="stylesheet" type="text/css" />

<script src="../assets/scripts/dropMenu.js" defer></script>
<script src="../assets/scripts/immediately-invoked.js" defer></script>
