<div class="brandLogo-flex">
    <a class="Typography-root Link-underlineNone Typography-colorPrimary"
        href="<%=logo.href%>">
        <img class="logo-img" src="<%=logo.img_src%>" alt="<%=logo.img_alt%>" />
    </a>
</div>
