<noscript>
  <div class="noscript">
    <div class="emotion" role="none">(￣▽￣)ノ</div>
    <p lang="en">
      JavaScript must be enabled to use the carousel. Here are the
      <a href="https://www.enable-javascript.com/en/">instructions how to enable JavaScript in your web
        browser</a>. Or perhaps you need to make an exception in your script blocker.
    </p>
  </div>
</noscript>