<noscript>
    <div class="noscript">
        <div role="none" style="font-size: 3em; opacity: 0.25">(￣▽￣)ノ</div>
        <p lang="en">
            The Ardana website requires JavaScript. Here are the
            <a href="https://www.enable-javascript.com/en/">instructions how to enable JavaScript in your web
                browser</a>. Or perhaps you need to make an exception in your script blocker.
        </p>
    </div>
</noscript>