<div class="socialIconBar mt-25">
    <% let icons = [{
            href: "https://twitter.com/ardanaproject",
            width: 26,
            height: 21,
            path_d: "M25.5 2.40469C24.5703 2.8125 23.5797 3.08281 22.5469 3.21406C23.6094 2.57969 24.4203 1.58281 24.8016 0.38125C23.8109 0.971875 22.7172 1.38906 21.5516 1.62188C20.6109 0.620313 19.2703 0 17.8078 0C14.9703 0 12.6859 2.30313 12.6859 5.12656C12.6859 5.53281 12.7203 5.92344 12.8047 6.29531C8.54375 6.0875 4.77344 4.04531 2.24062 0.934375C1.79844 1.70156 1.53906 2.57969 1.53906 3.525C1.53906 5.3 2.45312 6.87344 3.81562 7.78437C2.99219 7.76875 2.18438 7.52969 1.5 7.15313C1.5 7.16875 1.5 7.18906 1.5 7.20937C1.5 9.7 3.27656 11.7688 5.60625 12.2453C5.18906 12.3594 4.73438 12.4141 4.2625 12.4141C3.93438 12.4141 3.60312 12.3953 3.29219 12.3266C3.95625 14.3563 5.84063 15.8484 8.08125 15.8969C6.3375 17.2609 4.12344 18.0828 1.72656 18.0828C1.30625 18.0828 0.903125 18.0641 0.5 18.0125C2.77031 19.4766 5.46094 20.3125 8.3625 20.3125C17.7938 20.3125 22.95 12.5 22.95 5.72812C22.95 5.50156 22.9422 5.28281 22.9312 5.06563C23.9484 4.34375 24.8031 3.44219 25.5 2.40469Z"
        }, {
            href: "https://discord.gg/c9skrZvsqH",
            width: 28,
            height: 21,
            path_d: "M23.3081 2.71937C20.9667 0.83523 17.2628 0.515847 17.1043 0.504358C16.8584 0.483678 16.624 0.621542 16.5229 0.849017C16.5138 0.862803 16.4333 1.04892 16.3437 1.33843C17.8924 1.60037 19.7949 2.12655 21.5159 3.19499C21.7916 3.36503 21.8766 3.72807 21.7066 4.00379C21.594 4.18531 21.4033 4.28412 21.2057 4.28412C21.1 4.28412 20.992 4.25425 20.8955 4.19451C17.936 2.35862 14.2413 2.26671 13.529 2.26671C12.8167 2.26671 9.11967 2.35862 6.1625 4.19451C5.88677 4.36683 5.52373 4.28182 5.3537 4.00609C5.18137 3.72807 5.26639 3.36732 5.54211 3.19499C7.26311 2.12885 9.16563 1.60037 10.7143 1.34073C10.6247 1.04892 10.5443 0.865101 10.5374 0.849017C10.434 0.621542 10.2019 0.479083 9.95375 0.504358C9.79521 0.515847 6.09127 0.83523 3.71772 2.74464C2.47925 3.89121 0 10.5914 0 16.3839C0 16.4873 0.0275727 16.5861 0.078123 16.6758C1.78763 19.6812 6.45431 20.467 7.51816 20.5015C7.52275 20.5015 7.52965 20.5015 7.53654 20.5015C7.72495 20.5015 7.90188 20.4119 8.01217 20.2602L9.08751 18.7805C6.18548 18.0314 4.70344 16.7585 4.61843 16.6826C4.37487 16.469 4.35189 16.0967 4.56788 15.8532C4.78157 15.6096 5.1538 15.5866 5.39736 15.8003C5.43182 15.8325 8.16152 18.1486 13.529 18.1486C18.9057 18.1486 21.6354 15.8233 21.663 15.8003C21.9065 15.5889 22.2765 15.6096 22.4924 15.8555C22.7061 16.099 22.6831 16.469 22.4396 16.6826C22.3546 16.7585 20.8725 18.0314 17.9705 18.7805L19.0458 20.2602C19.1561 20.4119 19.3331 20.5015 19.5215 20.5015C19.5284 20.5015 19.5353 20.5015 19.5399 20.5015C20.6037 20.467 25.2704 19.6812 26.9799 16.6758C27.0304 16.5861 27.058 16.4873 27.058 16.3839C27.058 10.5914 24.5788 3.89121 23.3081 2.71937ZM9.70559 14.0311C8.56822 14.0311 7.64683 12.9787 7.64683 11.6782C7.64683 10.3777 8.56822 9.32533 9.70559 9.32533C10.843 9.32533 11.7644 10.3777 11.7644 11.6782C11.7644 12.9787 10.843 14.0311 9.70559 14.0311ZM17.3524 14.0311C16.215 14.0311 15.2937 12.9787 15.2937 11.6782C15.2937 10.3777 16.215 9.32533 17.3524 9.32533C18.4898 9.32533 19.4112 10.3777 19.4112 11.6782C19.4112 12.9787 18.4898 14.0311 17.3524 14.0311Z"
        }, {
            href: "https://t.me/ardanaofficial",
            width: 26,
            height: 22,
            path_d: "M9.86767 14.2321L9.45413 20.0488C10.0458 20.0488 10.302 19.7946 10.6093 19.4894L13.3833 16.8383L19.1312 21.0477C20.1854 21.6352 20.9281 21.3258 21.2125 20.0779L24.9854 2.39876L24.9864 2.39772C25.3208 0.839387 24.4229 0.230012 23.3958 0.612304L1.21871 9.10293C-0.294834 9.69043 -0.271918 10.5342 0.961416 10.9165L6.63121 12.68L19.801 4.43939C20.4208 4.02897 20.9843 4.25605 20.5208 4.66647L9.86767 14.2321Z"
        }, {
            href: "https://medium.com/ardana-hub",
            width: 26,
            height: 21,
            path_d: "M3.04507 4.58166C3.07656 4.272 2.95795 3.96654 2.72701 3.75869L0.375677 0.924495V0.501465H7.67951L13.3248 12.8827L18.2878 0.501465H25.2505V0.924495L23.2393 2.8528C23.0661 2.98506 22.98 3.20235 23.0157 3.41754V17.5864C22.98 17.8006 23.0661 18.0179 23.2393 18.1501L25.2033 20.0784V20.5015H15.3235V20.0784L17.3588 18.1029C17.5583 17.9034 17.5583 17.8447 17.5583 17.5392V6.08694L11.9014 20.4553H11.1372L4.55035 6.08694V15.7169C4.49576 16.1211 4.63013 16.5294 4.9146 16.8212L7.5609 20.0312V20.4553H0.0576172V20.0312L2.70392 16.8212C2.98734 16.5283 3.1133 16.1179 3.04507 15.7169V4.58166Z"
        }, {
            href: "https://www.youtube.com/channel/UCuVtpKzlmsD6s0ZiC0hakkA",
            width: 27,
            height: 20,
            path_d: "M26.035 3.55875C25.7884 2.19755 24.6133 1.20627 23.2497 0.896794C21.2091 0.464015 17.4326 0.154541 13.3466 0.154541C9.26295 0.154541 5.42597 0.464015 3.38296 0.896794C2.02176 1.20627 0.844304 2.13469 0.597692 3.55875C0.348663 5.10612 0.102051 7.27244 0.102051 10.0577C0.102051 12.843 0.348663 15.0093 0.658137 16.5566C0.907166 17.9178 2.0822 18.9091 3.4434 19.2186C5.60972 19.6514 9.3234 19.9609 13.4094 19.9609C17.4954 19.9609 21.2091 19.6514 23.3754 19.2186C24.7366 18.9091 25.9117 17.9807 26.1607 16.5566C26.4073 15.0093 26.7168 12.7801 26.7796 10.0577C26.6539 7.27244 26.3444 5.10612 26.035 3.55875ZM10.0052 14.3903V5.72507L17.5559 10.0577L10.0052 14.3903Z"
        }
    ]
    icons.forEach(function(icon) { %>
        <%- include('./social_icon.ejs', {icon: icon}) %>
    <% }); %>
    <a class="Typography-root Link-underlineHover socialIconLink Typography-colorPrimary"
        href="https://www.linkedin.com/company/ardanalabs/"  >
        <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M25.4938 25.0001V24.9991H25.5001V15.8303C25.5001 11.3449 24.5344 7.88965 19.2907 7.88965C16.7699 7.88965 15.0782 9.27298 14.3876 10.5844H14.3146V8.3084H9.34277V24.9991H14.5199V16.7345C14.5199 14.5584 14.9324 12.4542 17.6271 12.4542C20.2824 12.4542 20.3219 14.9376 20.3219 16.874V25.0001H25.4938Z"
                    fill="#F5FCFE"></path>
                <path d="M0.912598 8.30933H6.09593V25H0.912598V8.30933Z" fill="#F5FCFE"></path>
                <path
                    d="M3.50208 0C1.84479 0 0.5 1.34479 0.5 3.00208C0.5 4.65938 1.84479 6.03229 3.50208 6.03229C5.15937 6.03229 6.50417 4.65938 6.50417 3.00208C6.50312 1.34479 5.15833 0 3.50208 0V0Z"
                    fill="#F5FCFE"></path>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="25" height="25" fill="white" transform="translate(0.5)"></rect>
                </clipPath>
            </defs>
        </svg>
    </a>
</div>