<div class="py-150">
    <div class="Container-root Container-maxWidthLg">
        <div class="Grid-container Grid-justify-content-xs-center">
            <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-6">
                <div class="text-center">
                    <h3 class="Typography-root community-tel-title Typography-h3"><span>Telegram</span> Channels
                    </h3>
                    <div class="mb-20"></div>
                    <h4 class="Typography-root Typography-h4">We have proper Telegram channels catering to
                        different languages. Please follow through and find the proper channel for you.</h4>
                </div>
            </div>
        </div>
        <div class="mb-50"></div>
        <div class="Grid-container Grid-spacing-xs-3">        
            <% let channels = [
                {country: "chinese", language: "Chinese"},
                {country: "german", language: "German"},
                {country: "indonesian", language: "Indonesian"},
                {country: "italian", language: "Italian"},
                {country: "japanese", language: "Japanese"},
                {country: "southkorea", language: "Korean"},
                {country: "portuguese", language: "Portuguese"},
                {country: "russian", language: "Russian"},
                {country: "spanish", language: "Spanish"},
                {country: "thai", language: "Thai"},
                {country: "turkish", language: "Turkish"},
                {country: "vietnamese", language: "Vietnamese"}
            ]
            channels.forEach(function(channel) { %>
            <div class="Grid-item Grid-grid-xs-12 Grid-grid-md-3">
                <div class="community-tel-bg">
                    <div class="community-tel-img"><img src="../../../../assets/telegramchannels/flags/<%=channel.country%>.svg"
                            alt="<%=channel.language%>"><a
                            class="Typography-root Link-underlineHover Typography-colorPrimary"
                            href="/">
                            <%- include('../../../components/circle_btn.ejs', {btn: 41}); %>
                            <img class="community-tel-photo" src="../../../../assets/icons/carousel-next.svg" alt="next" width="10px">
                        </a></div>
                    <div class=" mb-10"></div>
                    <h5 class="Typography-root Typography-h5"><%=channel.language%> Telegram</h5>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>